.modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgb(218, 215, 215);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  color:black
}


.modalContainer .body {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  color:rgb(43, 43, 43)
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 100%;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: rgb(77, 1, 107);
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.modalContainer .footer button:hover{
  background-color: rgb(157, 75, 189);

}

